* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #0b0b0b;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff4da6;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.btn {
    background: #ff4da6;
    padding: 8px 16px;
    border-radius: 25px;
    color: black;
    font-weight: bold;
}

/* HERO */
.hero {
    padding: 80px;
}

.hero h1 {
    font-size: 60px;
}

.hero span {
    color: #ff4da6;
}

.circle {
    border: 1px solid #ff4da6;
    color: #ff4da6;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

/* ABOUT */
.about {
    padding: 80px;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 40px;
    align-items: center;
}

.about img {
    width: 100%;
    border-radius: 20px;
}

/* PROJECTS */
.projects {
    padding: 80px;
}

.project-cards {
    display: flex;
    gap: 25px;
}

.card {
    background: #111;
    padding: 20px;
    border-radius: 15px;
    width: 100%;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

/* SERVICES */
.services {
    padding: 80px;
}

.service-cards {
    display: flex;
    gap: 25px;
}

.service {
    background: #111;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
}

.service i {
    font-size: 30px;
    color: #ff4da6;
    margin-bottom: 10px;
}

/* CONTACT */
.contact {
    padding: 60px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
}
